.tableContainer {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    overflow: hidden;
    color: white;
}
.transaction_history {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid white;
    margin-bottom: 40px;
}

.th {
    width: calc(100% / 3);
    border: 1px solid white;
    background-color: #00bcd5;
    padding-top: 10px;
    padding-bottom: 10px;
}
